.ct-button {
    height: 40px;
    width: 100%;
    background-color: var(--color-button-blue);
    color: var(--color-bg-primary);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}